[Desktop Entry]
Encoding=UTF-8
Name=Suppocoin
Comment=Suppocoin P2P Cryptocurrency
Comment[fr]=Suppocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Suppocoin, eşten eşe kriptografik sanal para birimi
Exec=suppo-qt %u
Terminal=false
Type=Application
Icon=suppo128
MimeType=x-scheme-handler/suppo;
Categories=Office;Finance;
